{{#if userLoggedIn}}
  <form method="POST" action="/api/login/logout"><button
      style="background-color: red;"
    >Log Out</button></form>
{{/if}}

<h1>{{welcome}}</h1>
<h2>Lista de productos</h2>

<h1>Carrito:</h1>

{{#each products}}

  <p>{{this}}</p>
  <button>Agregar al carrito</button>

{{/each}}